@charset "UFT-8";


body{
    background-color: rgba(50, 183, 183, 0.476);
    font-size: 12pt;
    font-family:('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

}

:root{
    --font-titulo: 'Merriweather' sans-serif;
}


*{
    margin: 0px;
    padding: 0px;
}

header{
    position: sticky;
    background-color: rgb(62, 20, 166);
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    top: -1px;

}

li{
    list-style-type: none;
}

menu li, a{
    margin: 5px;
    display: inline;
}



main{
    background-color: white;
    padding: 40px;
    height: 220vh;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.26);
    background-image: url('imagens/projecto\ de\ Arquitectura\ no\ papel.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}



main> section{
    border-radius: 10px;
    background-color: white;
    padding: 100px;
    
}

section#second{
    border-radius: 10px;
    padding: 100px;
    margin-top: 20px;
}

section#third{
    border-radius: 10px;
    padding: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section#fourth{
    border-radius: 10px;
    padding: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}




footer{
    position: relative;
    background-color: rgb(62, 20, 166);
    padding: 45px;
    margin-top: -25px;
    text-align: center;
    font-size: 1.2em;
    color: rgb(11, 205, 140);

    top: 20px;
}

a{
text-decoration: none;
color: rgb(11, 205, 140)
}

a:hover{
color: red;
}