@charset "UTF-8";

/*Configurações globais dos site...*/

:root{
    --cor-principal:#0B47D3;
    --cor-secundária:#10CEDB;
    --cor-terceira:#08666D;
    --cor-section:white;

    --fonte-título: 'Science Gothic' sans-serif;
    --fonte-subtítulo: 'Raleway' sans-serif;
    --terceira-parágrafo:
}



*{
    margin: 0px;
    padding: 0px;
}


body{
    background-image: url(../imagens/Edifício\ Futurista.jpg);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    position: sticky;
    top: 0px;
    padding: 10px;
    background-color: var(--cor-terceira);
    border-radius: 1px;
}

menu >ul >li{
    padding: 4px;
    margin: 1px;
    background-color: rgb(9, 44, 44);
    border-radius: 1px;
    text-align: center;
}


ul.itens{
    flex-direction: row-reverse;
}

li.itens{
    flex: auto;
}
menu>ul> li{
    list-style-type: none;
}


header>h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.829);
}

menu>ul>li>a{
    color: white;
    display: block;
    text-decoration: none;
    
}

li>a:hover{
    color:aqua;
}

menu{
    display: none;
}

span#burguer{
    background-color: rgb(9, 44, 44);
    text-align: center;
    padding: 10px;
    display: block;
    border-radius: 10px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

section#first{
    background-image: url(../imagens/Engenheira\ Civil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    color: rgb(0, 0, 0);
    height: 50vh;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}

section#first>article>p{
    text-align: justify;
    text-indent: 1px
}

h2{
    padding:5px ;
    text-align:justify;
    margin: 5px;
}

section#second{
    height: 25vh;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

section#third{
    background-image: url(../imagens/Assistente\ Call\ Center.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    height: 50vh;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}
section#fourth{
    background-color: white;
    height: vh;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;

}


footer{
    text-align: center;
    border-radius: 1px;
    padding: 40px;
    background-color: var(--cor-terceira);
    margin: 0px;
}


footer>a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer>a:hover{
    color: aqua;
}
