@charset "UTF-8";

@media screen and (min-width: 678px) and (max-width: 992px) {


    section#first{
    background-image: url(../imagens/Engenheira\ Civil\ image\ tablet.xcf);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    color: rgb(0, 0, 0);
    height: 50vh;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}

    span#burguer{
        display: none;
    }
    menu{
        display: flex;
        flex-direction: row-reverse;
    }

    menu>ul>li{
        display: inline-block;
        flex: auto;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {


    span#burguer{
        display: none;
    }
    menu{
        display: flex;
        flex-direction: row-reverse;
    }

    menu>ul>li{
        display:inline-block;
        flex: auto;
    }
    
}

@media screen and (min-width: 1200px) and (max-width: 1444px) {

    span#burguer{
        display: none;
    }
    menu.conteiner{
        display: flex;
        flex-direction: row-reverse;
    }

    menu>ul>li{
        display: inline-block;
        flex: auto;
    }
    
}